<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <title>Battlecat</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="row">
    	<div class="col-md-8"><img src="<%=mainImage%>"/></div>
	    <div class="col-md-4"><p><%= description %></p></div>
	</div>
    <p>For a low low of <%= price %></p>
    <p><a href=<%=url%>>Find out more about this item!</a></p>
    <p>Want to know more about this item? Contact the seller:</p>
    <form method="post" action="/sendSms">
    	<input name="message"></input>
    	<input class="button" type="submit" value="Send SMS"></input>
    </form>
  </body>
</html>
